/* Universal box sizing */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* using a grid container to layout the webpage */
/* There will be 6 items in the grid to layout the individual containers */
.header { grid-area: header; }
.topnav { grid-area: topnav; }
.flex-container {grid-area: middle;}
.footer { grid-area: footer; }


/* The grid container (webpage) will be displayed as follows */
.grid-container {
    display: grid;
  grid-template-areas:
    'header header header header header header'
    'topnav topnav topnav topnav topnav topnav'
    'middle middle middle middle middle middle'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #009999;
  padding: 10px;
}
.grid-container > div {
    
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  /* Style the header */
.header {
    grid-area: header;
    background-color:#e6ffff;
    text-align: center;
    padding: 20px;
    font-size: 35px;   
}
/* Adding a Flex container to position new elements in the staff page */
.flex-container {
    grid-area: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Adding a Flex box to contain new elements within the flex container */
.flex-box {
    background-color: #e6ffff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    flex: 50%;
}
/*Responsive font size makes the text smaller on a smaller screen */
@media screen and (max-width:600px) {
    .grid-container {
        grid-template-areas:
        'header header header header header header'
        'topnav topnav topnav topnav topnav topnav'
        'middle middle middle middle middle middle'
        'footer footer footer footer footer footer';
    }
    h1 {
        font-size: 1.2em;
    }
    .topnav a {
        font-size: 1.2em;
        width: 100%
    }
    /*Adding the elements to make the flex container and boxes responsive */
    .flex-container {
        flex: 100%;
    }
    .flex-box {
        flex: 100%
    } 
    .footer {
        width: 100%;
        font-size: 1.2em;
    }
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
}
/* Style the topnav links */
.topnav a {
    float:left;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}
.flex-box {
    flex:1;
    width: 100%;
    font-size: 1.2em;   
}
.footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;  
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
